// Mixins
@use "sass:map";

@mixin button-variant($type) {
    --air-btn-bg-color: var(--air-btn-bg-#{$type});
    --air-btn-text-color: var(--air-btn-text-light);
    --air-btn-border-color: var(--air-btn-bg-#{$type});
    --air-btn-disabled-bg-color: var(--air-btn-bg-#{$type}-light);
    --air-btn-disabled-text-color: var(--air-btn-text-light);
    --air-btn-disabled-border-color: var(--air-btn-bg-#{$type}-light);
    --air-btn-disabled-opacity: 0.5;

    background-color: var(--air-btn-bg-color);
    color: var(--air-btn-text-color);
    border-color: var(--air-btn-border-color);

    &:hover {
        --air-btn-hover-bg-color: color-mix(in srgb, var(--air-btn-bg-color) 90%, white);
        --air-btn-hover-text-color: var(--air-btn-text-color);
        --air-btn-hover-border-color: var(--air-btn-hover-bg-color);
    }

    &:active {
        --air-btn-active-bg-color: color-mix(in srgb, var(--air-btn-bg-color) 90%, black);
        --air-btn-active-border-color: var(--air-btn-active-bg-color);
    }

    &.is-plain {
        --air-btn-bg-color: #{theme('colors.white.800')};
        --air-btn-text-color: var(--air-btn-bg-#{$type});
        --air-btn-border-color: var(--air-btn-bg-#{$type});

        &:hover {
            --air-btn-hover-bg-color: var(--air-btn-bg-#{$type});
            --air-btn-hover-text-color: var(--air-btn-text-light);
            --air-btn-hover-border-color: var(--air-btn-bg-#{$type});
        }

        &.is-disabled {
            --air-btn-disabled-text-color: var(--air-btn-disabled-bg-color);
            @include disabled-state(#{theme('colors.white.800')});
        }
    }
}
@mixin disabled-state($bg-color: var(--air-btn-disabled-bg-color)) {
    &,
    &:hover,
    &:focus,
    &:active {
        background-color: $bg-color;
        border-color: var(--air-btn-disabled-border-color);
        color: var(--air-btn-disabled-text-color);
        opacity: var(--air-btn-disabled-opacity, 0.5);
        @apply cursor-not-allowed;
    }
}

$btn-sizes: (
    default: (
        font-size: 1rem,
        padding-x: 1.5rem,
        padding-y: 0.75rem
    ),
    small: (
        font-size: 0.875rem
    ),
    large: (
        font-size: 1.125rem
    )
);

$btn-types: (primary, success, danger, warning, info);

.air-btn {
    // 基础样式变量
    --air-btn-font-size: #{map.get(map.get($btn-sizes, default), font-size)};
    --air-btn-padding-x: #{map.get(map.get($btn-sizes, default), padding-x)};
    --air-btn-padding-y: #{map.get(map.get($btn-sizes, default), padding-y)};
    --air-btn-border-radius: 0.375rem;
    --air-btn-loading-left: 1.5rem;

    /* 颜色变量 */
    --air-btn-bg-color: theme('colors.white.800');
    --air-btn-text-color: theme('colors.gray.600');
    --air-btn-border-color: theme('colors.gray.600');

    --air-btn-hover-bg-color: theme('colors.gray.100');
    --air-btn-hover-text-color: theme('colors.gray.800');
    --air-btn-hover-border-color: theme('colors.gray.800');

    --air-btn-active-bg-color: theme('colors.gray.200');
    --air-btn-active-border-color: theme('colors.gray.900');

    --air-btn-bg-primary: theme('colors.primary.500');
    --air-btn-bg-success: theme('colors.green.500');
    --air-btn-bg-danger: theme('colors.red.500');
    --air-btn-bg-warning: theme('colors.orange.500');
    --air-btn-bg-info: theme('colors.gray.500');

    --air-btn-bg-primary-light: theme('colors.primary.300');
    --air-btn-bg-success-light: theme('colors.green.300');
    --air-btn-bg-danger-light: theme('colors.red.300');
    --air-btn-bg-warning-light: theme('colors.orange.300');
    --air-btn-bg-info-light: theme('colors.gray.300');

    --air-btn-text-light: theme('colors.white.800');

    @apply relative flex items-center justify-between gap-2 max-w-md bg-no-repeat bg-right bg-contain;
    font-size: var(--air-btn-font-size);
    padding: var(--air-btn-padding-y) var(--air-btn-padding-x);
    border-radius: var(--air-btn-border-radius);

    /* 使用自定义颜色变量 */
    background-color: var(--air-btn-bg-color);
    color: var(--air-btn-text-color);
    border: 1px solid var(--air-btn-border-color);

    &:hover {
        background-color: var(--air-btn-hover-bg-color);
        color: var(--air-btn-hover-text-color);
        border-color: var(--air-btn-hover-border-color);
    }

    &:active {
        background-color: var(--air-btn-active-bg-color);
        border-color: var(--air-btn-active-border-color);
    }

    // 尺寸变体
    @each $size, $values in $btn-sizes {
        @if $size != default {
            &--#{$size} {
                --air-btn-font-size: #{map.get($values, font-size)};
            }
        }
    }

    /* 圆角按钮 */
    &.is-round {
        border-radius: var(--air-radius-full);
    }

    // 类型变体
    @each $type in $btn-types {
        &--#{$type} {
            @include button-variant($type);
        }
    }

    /* 禁用状态 */
    &.is-disabled {
        @include disabled-state;
    }

    &__icon {
        @apply w-6 h-6;
        &--spin {
            @apply animate-spin w-5 h-5;
        }
        &--left,
        &--right {
            @apply flex items-center justify-center w-6 h-6 rounded-full bg-opacity-20;
        }
    }
}
