[data-theme='christmas'] {
    --air-color-primary-800: #7d2c2c;
    /* 深红色 */
    --air-color-primary-700: #9a3636;
    --air-color-primary-600: #b74242;
    --air-color-primary-500: #d35151;
    /* 主红色 */
    --air-color-primary-400: #e36666;
    --air-color-primary-300: #f28585;
    --air-color-primary-200: #f9b3b3;
    --air-color-primary-100: #fddddd;
    /* 浅红色 */

    .air-btn--primary {
        @apply bg-[url('theme/festival/christmas/btn-tree.svg')];
    }
}
