/* styles/_halloween.scss */
[data-theme='halloween'] {
  --color-primary-800: #ff7518;
  --color-primary-700: #ff8c00;
  --color-primary-600: #ffa500;
  --color-primary-500: #ffb347;
  --color-primary-400: #ffc78e;
  --color-primary-300: #ffd3b6;
  --color-primary-200: #ffe1d5;
  --color-primary-100: #ffedd5;

  --color-purple-400: #800080;
  --color-orange-400: #ffa500;
}
