/* styles/_springFestival.scss */
[data-theme='springFestival'] {
  --color-primary-800: #b22222;
  --color-primary-700: #dc143c;
  --color-primary-600: #ff4500;
  --color-primary-500: #ff6347;
  --color-primary-400: #ff7f50;
  --color-primary-300: #ffa07a;
  --color-primary-200: #ffb6c1;
  --color-primary-100: #ffc0cb;

  --color-red-400: #ff0000;
  --color-orange-400: #ff4500;
  --color-yellow-400: #ffd700;
}
