/* styles/_christmas.scss */
[data-theme='christmas'] {
  --color-primary-800: #006400;
  --color-primary-700: #008000;
  --color-primary-600: #00b300;
  --color-primary-500: #00e600;
  --color-primary-400: #00ff00;
  --color-primary-300: #66ff66;
  --color-primary-200: #99ff99;
  --color-primary-100: #ccffcc;

  --color-red-400: #ff0000;
  --color-green-400: #00ff00;
  --color-orange-400: #ff4500;
}
