
@tailwind base;
@tailwind utilities;

[data-mode='spring-festival'] {
    --color-primary: #FF4B4B;
    --color-secondary: #FFD700;
    --bg-image: url('/images/spring-festival-bg.jpg');
  }
  
  [data-mode='christmas'] {
    --color-primary: #007F0E;
    --color-secondary: #FF0000;
    --bg-image: url('/images/christmas-bg.jpg');
  }
  
  [data-mode='halloween'] {
    --color-primary: #FF7518;
    --color-secondary: #1E1E1E;
    --bg-image: url('/images/halloween-bg.jpg');
  }