// 字体系统
$typography: (
    'font-family': (
        'base': -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial
    ),
    'font-size': (
        '56': 3.5rem,
        '48': 3rem,
        '40': 2.5rem,
        '32': 2rem,
        '24': 1.5rem,
        '20': 1.25rem,
        '16': 1rem,
        '14': 0.875rem
    ),
    'font-weight': (
        'regular': 400,
        'semibold': 600,
        'bold': 700
    )
);

:root {
    @each $category, $values in $typography {
        @each $key, $value in $values {
            --air-#{$category}-#{$key}: #{$value};
        }
    }
}
