[data-theme='love'] {
    --color-primary-800: #b23a5d; /* 深粉色 */
    --color-primary-700: #c0486f;
    --color-primary-600: #cf577f;
    --color-primary-500: #dd688f; /* 主粉色 */
    --color-primary-400: #ea7ba2;
    --color-primary-300: #f5a3c1;
    --color-primary-200: #fcc1d8;
    --color-primary-100: #ffe1eb; /* 浅粉色 */
}
