[data-theme='summer'] {
    --air-color-primary-800: #257e0f;
    --air-color-primary-700: #36971e;
    --air-color-primary-600: #51ab3b;
    --air-color-primary-500: #6fbe5c;
    --air-color-primary-400: #81c96f;
    --air-color-primary-300: #bbe8ae;
    --air-color-primary-200: #d8f2d0;
    --air-color-primary-100: #ecf9e8;

    .air-btn--primary {
        @apply bg-[url('theme/festival/summer/btn-bg.png')];
    }
}
